#body-inicio {
    display: grid;
    place-items: center;
    height: 100vh; /* Esto centra en vertical también */
}

h1 {
    margin-top: 10px;
    margin-bottom: 20px;
}


#buttonIngresar {
    grid-row: 2;
    grid-column: 3;
    margin-top: 50px;
    margin-bottom: 50px;
}
#buttonRegistrarse {
    grid-row: 3;
    grid-column: 3;
    margin-top: 10px;
    margin-bottom: 50px;
}

