@import url(basic.css);
#body-listaComprobantePago {
    display: flex;
    flex-direction: column;
    text-align: center;
}
nav {
    display: grid;
    grid-template-columns: repeat(3, 30% 40% 30%);
    text-align: center;
    gap: auto;
    margin: 20px;
}
#buttonMenu,
#a-menu,
#buttonCrear {
    margin: auto;
}
r {
    margin: auto;
}

#wrapper-titulosProv {
    display: grid;
    grid-template-columns: repeat(3, auto);
    text-align: center;
    justify-content: space-around;
    margin-left: 100px;
    margin-right: 100px;
    padding: 10px; 
}



/*--------------*/

#contenedor-filas{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 100px;
    margin-right: 100px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;   
}
.row {
    display: flex;
    text-align: center;
    justify-content: space-between;
    border: 1px solid #ccc;
    padding: 10px;
    cursor: pointer;
  }
  
  .column {
    flex: 1;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  
  .row:hover {
    background-color: #6DA5C0;
  }

  footer{
    grid-row: -1;
    display: flex;
    flex-direction: row;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}