@import url(basic.css);
#body-proveedor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 5px;
    gap: 16px;
    margin-top: 10px;
}
#nombre,
#nit-cc,
#ciudad,
#telefono {
    width: 30%;
    height: 10px;
    text-align: center;
    padding: 10px;
    background-color: var(--transparent);
    border: 1px solid var(--border);
    border-radius: 5px;
}

#wrapper-options{
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-between;
    padding: 10px;
    margin-top: 0px;
    gap: 16px;
}
#buttonEditar,
#buttonGuardar,
#buttonExportar,
#buttonRegresar{
    flex-wrap: wrap;
    text-align: center;
    margin: auto;
    gap: auto;
}
