<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style/css/main.css" />
    <title>Comprobante de Pago</title>
  </head>
  <body id="body-comprobantePago">
    <h2 id="h2-CP">COMPROBANTE DE PAGO</h2>
    <h3 id="h3-CP">>>NOMBREUSUARIO>></h3>
    <div id="wrapper-cp">
      <div id="wrapper-fecha">
        <label for="fecha" id="label-fecha">FECHA(*)</label>
        <input type="date" name="fecha" id="fecha" />
      </div>
      <div id="wrapper-nComprobante">
        <label for="nComprobante" id="label-nComprobante">N° COMPROBANTE</label>
        <input type="number" name="nComprobante" id="nComprobante" disabled/>
      </div>
      <div id="wrapper-pagadoA">
        <label for="pagadoA" id="label-pagadoA">PAGADO A(*)</label>
        <input type="text" id="seleccionPagadoA" disabled>
        <select name="pagadoA" id="pagadoA">
          <option value="" text = "..."></option>
        </select>
      </div>
      <div id="wrapper-descripcionPago">
        <label for="descripcionPago" id="label-descripcionPago"
          >DESCRIPCIÓN DEL PAGO(*)</label
        >
        <textarea
          name="descripcionPago"
          id="descripcionPago"
          cols="30"
          rows="10"
        ></textarea>
      </div>
      <label for="descuento" id="label-descuento">DESCUENTO</label>
      <div id="wrapper-descripcionDescuento">
        <label for="descripcionDescuento" id="label-descripcionDescuento"
          >DESCRIPCIÓN</label
        >
        <textarea
          name="descripcionDescuento"
          id="descripcionDescuento"
          cols="30"
          rows="10"
        ></textarea>
      </div>
      <div id="wrapper-valorDescuento">
        <label for="valorDescuento" id="label-valorDescuento">VALOR</label>
        <input type="number" name="valorDescuento" id="valorDescuento" />
      </div>
      <div id="wrapper-valorBruto">
        <label for="valorBruto" id="label-valorBruto">VALOR BRUTO(*)</label>
        <input type="number" name="valorBruto" id="valorBruto" />
      </div>
      <div id="wrapper-valorNeto">
        <label for="valorNeto" id="label-valorNeto">VALOR NETO(*)</label>
        <input type="number" name="valorNeto" id="valorNeto" />
      </div>
    </div>
    <div id="wrapper-options">
      <button id="buttonGuardar" class="buttonC2">GUARDAR</button>
      <button id="buttonRegresar" class="buttonC2">REGRESAR</button>
    </div>  
  </body>
  <script type="module" src="/script/crearComprobantePago.js"></script>
</html>
