<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style/css/main.css" />
    <title>Ingreso/SGCP</title>
  </head>
  <body id="body-ingreso">
    <h1>SISTEMA DE GESTIÓN DE COMPROBANTES DE PAGO</h1>
    <h3>INGRESAR A MI CUENTA</h3>
    <label for="usuario" id="label-usuario">USUARIO <br>(es el numero de documento)</label>
    <input type="text" name="usuario" id="usuario" />
    <label for="contrasena" id="label-contrasena">CONTRASEÑA</label>
    <input type="password" name="contrasena" id="contrasena" />
    <button id="buttonIngresar" class="buttonC1">INGRESAR</button>
    <a href="/sgcp/v1/">
      <button id="buttonRegresar" class="buttonC2">REGRESAR</button>
    </a>
  </body>
  <script type="module" src="/script/ingreso.js">
  </script>
</html>
