<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/css/main.css">
    <title>ListaProveedores/SGCP</title>
</head>
<body id="body-listaProveedores">
    <header>
        <nav>
            <a href="/sgcp/v1/menu" id="a-menu">
                <button id="buttonMenu" class="buttonC2">MENÚ</button>
            </a>
            <h2>PROVEEDORES</h2>
            <a href="/sgcp/v1/proveedor">
                <button id="buttonCrear" class="buttonC2">CREAR</button>
            </a>      
        </nav>
    </header>
    </a>
    <h4 id="wrapper-titulosProv">
        <label for="nombre" id="label-nombre">NOMBRE</label>
        <label for="nit/cc" id="label-nitcc">NIT/CC</label>
        <label for="ciudad" id="label-ciudad">CIUDAD</label>
    </h4>
    <ol>
        <li>Primer elemento</li>
        <li>Segundo elemento</li>
        <li>Tercer elemento</li>
      </ol>
    <footer>
        <button id="buttonVer" class="buttonC2">VER</button>
        <button id="buttonEliminar" class="buttonC2">ELIMINAR</button>
    </footer>      
</body>
</html>