<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style/css/listaCompPago.css" />
    <title>ListaCP/SGCP</title>
  </head>
  <body id="body-listaComprobantePago">
    <header>
      <nav>
        <a href="/sgcp/v1/menu">
          <button id="buttonMenu" class="buttonC2">MENÚ</button>
        </a>
        <h2>COMPROBANTES DE PAGO</h2>
        <a href="/sgcp/v1/comprobanteDePago">
          <button id="buttonCrear" class="buttonC2">CREAR</button>
        </a>
      </nav>
    </header>
    <div id="wrapper-orden">
      <label for="ordenado" id="label-ordenado">ORDENADO POR</label>
      <input type="text" id="seleccionOrdenado" disabled />
      <select name="ordenado" id="ordenado">
        <option value="" text="..."></option>
        <option value="1" text="proveedor">Proveedor</option>
        <option value="2" text="fecha">Fecha</option>
      </select>
    </div>

    <h4 id="wrapper-titulosCP">
      <label for="nComprobante" id="label-nComprobante">N° COMP</label>
      <label for="fecha" id="label-fecha">FECHA</label>
      <label for="proveedor" id="label-proveedor">PROVEEDOR</label>
      <label for="valor" id="label-valor">VALOR</label>
    </h4>
    <div id="contenedor-filas"></div>
    <footer>
      <button id="buttonVer" class="buttonC2">VER</button>
      <button id="buttonEliminar" class="buttonC2">ELIMINAR</button>
      <button id="buttonExportar" class="buttonC2">EXPORTAR</button>
    </footer>
  </body>
  <script type="module" src="/script/listaComprobantesPago.js"></script>
</html>
