<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/css/menu.css">
    <title>Menu/SGCP</title>
</head>
<body id="body-menu">
    <h1 id="h1-titulo">SISTEMA DE GESTIÓN DE COMPROBANTES DE PAGO</h1>
    <h3 id="h3-nombreUsuario"></h3>
    <a href="/sgcp/v1/proveedor">
        <button id="registrarProveedores" class="buttonC1">REGISTRAR PROVEEDORES</button>
    </a>
    <a href="/sgcp/v1/listaProveedores">
        <button id="verProveedores" class="buttonC1">VER PROVEEDORES</button>
    </a>
    <a href="/sgcp/v1/comprobanteDePago">
        <button id="crearComprobanteDePago" class="buttonC1">CREAR COMPROBANTE DE PAGO</button>
    </a>
    <a href="/sgcp/v1/listaComprobantesDePago">
        <button id="verComprobantesDePago" class="buttonC1">VER COMPROBANTES DE PAGO</button>
    </a>
    <button id="cerrarSesion" class="buttonC1">CERRAR SESIÓN</button>
</body>
<script type="module" src="/script/menu.js"></script>
</html>