<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/css/proveedor.css">
    <title>Registro/Proveedor</title>
</head>
<body id="body-proveedor">
    <h1>SISTEMA DE GESTIÓN DE COMPROBANTES DE PAGO</h1>
    <h3>REGISTRO PROVEEDOR</h3>
    <label for="nombre">NOMBRE</label>
    <input type="text" name="nombre" id="nombre">
    <label for="nit-cc">NIT-CC</label>
    <input type="text" name="nit-cc" id="nit-cc">
    <label for="ciudad">CIUDAD</label>
    <input type="text" name="ciudad" id="ciudad">
    <label for="teleforno">TELEFONO</label>
    <input type="text" name="telefono" id="telefono">
    <div id="wrapper-options">
        <button id="buttonGuardar" class="buttonC2">GUARDAR</button>
        <button id="buttonRegresar" class="buttonC2">REGRESAR</button>
    </div> 
</body>
<script type="module" src="/script/registroProveedor.js"></script>
</html>